.wrapper {
    font-family: 'Montserrat', sans-serif;
}

input[type="text"] {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    color: #000000;
}

.nickname{
    display: flex;
    justify-content: flex-start;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    color: #000000;
    opacity: 0.5;
}

.input{
    font-family: 'Montserrat', sans-serif;
    background-color: #eaeaea;
    width: 300px;
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid #000000;
    opacity: 20%;
    text-decoration-color: black;
}

.button{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #366EFF;
    color: white;
    width: 52px;
    height: 24px;
    border-radius: 2px;
    outline: none;
    border: none;
}

.span{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
  }

.borderColor{
    margin-left: 10px;
}

