.containerHeaderTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    line-height: 27px;
}

.headerTitleButton {
    cursor: pointer;
    border-radius: 30px;
    background-color: #366EFF;
    border: 1px solid #366EFF;
    padding: 8px 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    margin-left: 800px;
}