.container {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px auto;
}

.title {
    font-size: 22px;
    font-weight: 600;
    margin-right: 870px;
}

.secondSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

