.containerPagination {
    margin-top: 30px;
    display: flex;
}

.select {
    margin: 13px 10px;
    height: 24px;
    min-width: 39px;
    font-size: 15px;
}

.containerPaginationSelect {
    display: flex;
    margin-top: -10px;
}

.text {
    margin-bottom: 40px;
}