.input{
    border-bottom: 1px black solid;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    outline: none;
    width: 347px;
}

h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
}

.wrapperInput{
    padding-bottom: 70px;
}

.wrapperRememberMe{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    display: flex;
    padding-top: 24px;
    padding-bottom: 29px;
}

.wrapperRememberMe input{
    margin-left: 30px;
}

.form{
    width: 413px;
    display: inline-block;
    background-color: #eaeaea;
    border-radius: 25px;
}

.wrapper{
    text-align: center;
    padding-top: 20px;
}

.wrapperTextPassword{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    text-align: right;
    margin-right: 38px;
    padding-bottom: 69px;
}

.button{
    width: 347px;
    height: 36px;
    border-radius: 30px;
    background-color: #366EFF;
    border: 1px solid #366EFF;
    color: white;
}

.wrapperButton{
    padding-bottom: 31px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
}

.wrapperTextAccount{
    padding-bottom: 11px;
}

.wrapperTextSignUp{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    color: #366EFF;
}

input{
    background: url(../../assets/images/Shape.png) no-repeat center right;
}