.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.form {
    width: 413px;
    min-height: 600px;
    display: inline-block;
    background-color: #eaeaea;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;

}

h1 {
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
}

.wrapperInput {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

}

.wrapperRememberMe {
    display: flex;
    padding-left: 43px;
    padding-bottom: 29px;
}

.wrapperRememberMe input {
    width: 18px;
    height: 18px;

}

.wrapperRememberMe div {
    font-size: 15px;
    font-weight: 500;
    margin-top: 3px;
}

.wrapperTextPassword {
    display: flex;
    justify-content: end;
    margin-right: 38px;
    padding-bottom: 69px;
    font-size: 14px;
    font-weight: 500;
}

.wrapperTextPassword .navlink {
    color: black;
}

.button {
    width: 347px;
    height: 36px;
    border-radius: 30px;
    background-color: #366EFF;
    border: 1px solid #366EFF;
    color: white;
}

.wrapperButton {
    display: flex;
    justify-content: center;
    padding-bottom: 31px;
    font-size: 16px;
    font-weight: 500;
}

.wrapperTextAccount {
    display: flex;
    justify-content: center;
    padding-bottom: 11px;
    font-size: 14px;
    font-weight: 500;
    opacity: 50%;
}

.wrapperTextSignUp .navlink {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 11px;
}

p{
    opacity: 0.5
}

