.wrapper {
    /*text-align: center;*/
    /*padding-top: 20px;*/
    display: flex;
    justify-content: center;
}

.form {
    width: 413px;
    min-height: 552px;
    display: inline-block;
    background-color: #eaeaea;
    border-radius: 25px;
}

h1 {
    text-align: center;
    font-size: 26px;
}

.input {
    border-bottom: 1px black solid;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    outline: none;
    width: 347px;
}

.wrapperInput {
    padding-bottom: 50px;

}

.wrapperRememberMe {
    display: flex;
    padding-top: 24px;
    padding-bottom: 29px;
}

.wrapperRememberMe input {
    margin-left: 30px;
}

.wrapperTextPassword {
    text-align: right;
    margin-right: 38px;
    padding-bottom: 69px;
}

.button {
    width: 347px;
    height: 36px;
    border-radius: 30px;
    background-color: #366EFF;
    border: 1px solid #366EFF;
    color: white;
}

.wrapperButton {
    padding-bottom: 31px;
}

.wrapperTextAccount {
    padding-bottom: 11px;
}

.wrapperTextSignUp {
    color: #366EFF;
}

