.container {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.backToCardPacks {
    margin-top: 24px;
}

.text {
    margin-top: 2px;
    margin-left: 7px;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px auto;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #000000;
}

.secondSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firstSection {
    display: flex;
    justify-content: space-between;
}

.button {
    cursor: pointer;
    border-radius: 30px;
    background-color: #366EFF;
    border: 1px solid #366EFF;
    padding: 8px 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: center;
}

.button:hover {
    color: #fff;
    background: #4376f5;
    tansition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}