.filterButton{
    height: 36px;
    width: 97px;
    color: white;
    background-color: #366EFF;
    border: none;
    border-radius: 2px;
}

.filterButton:active{
    color: black;
    background-color: white;
}